appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
psycopg2==2.8.3
PyPika==0.34.0
requests==2.22.0
rope==0.14.0
schedule==0.6.0
simplejson==3.16.0
toml==0.10.0
urllib3==1.25.3
Werkzeug==0.15.5
