<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>


</head>

<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>


    <script>
        // Returns stream data
        function getStreamData() {
            return new Promise((resolve, reject) => {
                $.get("/project/twitch-analytics/api/get-stream-data", function onSuccess(data, status) {
                    // Creates list of all ranks
                    rank_list = Object.keys(data);

                    // Creates list of all data
                    let data_list = [];
                    // Iterates over all ranks
                    for (let j = 0; j < rank_list.length; j++) {
                        let rank = rank_list[j];

                        // Creates JS object containing rank's data
                        let rank_data = {
                            yValueFormatString: "###,###,### Viewers",
                            xValueFormatString: "HH:mmtt K MMMM DD, YYYY",
                            type: "spline",
                            dataPoints: []
                        }
                        // Adds rank's data 
                        for (let i = 0; i < data["1"].length; i++) {
                            let viewerCount = data[rank][i][0];
                            let timestamp = data[rank][i][3];

                            rank_data["dataPoints"].push({ x: new Date(timestamp), y: viewerCount });
                        }

                        // Pushes rank's data to list
                        data_list.push(rank_data);
                    }

                    resolve(data_list);
                })
            })
        }

        // Updates graph
        function updateGraph() {
            console.log("running updateGraph()...");
            getStreamData().then(function (stream_data) {
                chart["options"]["data"] = stream_data;
                chart.render();
            });
        }

        // Creates CanvasJS graph
        let chart;
        getStreamData().then(function (stream_data) {
            // Creates & renders chart
            chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: false,
                title: {
                    text: "Top Twitch Streams"
                },
                axisY: {
                    title: "Number of Viewers",
                },
                axisX: {
                    title: "Date and Time",
                },
                data: stream_data
            });
            chart.render();

            // Updates graph every 10 seconds
            setInterval(function () {
                updateGraph();
            }, 10000);
        });
    </script>
</body>

</html>